@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #F8FAFC;
    --foreground: #0F172A;
}


.dark {
    --background: #0F172A;
    --foreground: #F8FAFC;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    @apply bg-[var(--background)] text-[var(--foreground)];
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.dark ::-webkit-scrollbar-track {
    background: #1e293b;
}
.dark ::-webkit-scrollbar-thumb {
    @apply bg-gray-600;
}