@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --background: #F8FAFC;
    --foreground: #0F172A;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0F172A;
        --foreground: #F8FAFC;
    }
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    @apply bg-page-bg text-gray-800;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    @apply bg-gray-300 rounded-full;
}
::-webkit-scrollbar-thumb:hover {
    @apply bg-brand-purple;
}